üìù Task 1: Filtering Data
Try these filtering tasks using your sales dataset:
1Ô∏è‚É£ Get all sales where Total is greater than 500.
2Ô∏è‚É£ Get all transactions made by female customers.
3Ô∏è‚É£ Get all purchases of "Health and Beauty" products.

In [9]:
import pandas as pd

df = pd.read_csv("cleaned_sales_data.csv")

In [21]:
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating,date,day_of_week,month
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,2019-01-05,13,Ewallet,522.83,4.761905,26.1415,9.1,2019-01-05,Saturday,2019-01
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,2019-03-08,10,Cash,76.40,4.761905,3.8200,9.6,2019-03-08,Friday,2019-03
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,2019-03-03,13,Credit card,324.31,4.761905,16.2155,7.4,2019-03-03,Sunday,2019-03
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,2019-01-27,20,Ewallet,465.76,4.761905,23.2880,8.4,2019-01-27,Sunday,2019-01
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2019-02-08,10,Ewallet,604.17,4.761905,30.2085,5.3,2019-02-08,Friday,2019-02

## 1Ô∏è‚É£ Get all sales where Total is greater than 500

In [13]:
high_value_sales = df[df["Total"] > 500]
high_value_sales

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating,date,day_of_week,month
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,2019-01-05,13,Ewallet,522.83,4.761905,26.1415,9.1,2019-01-05,Saturday,2019-01
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2019-02-08,10,Ewallet,604.17,4.761905,30.2085,5.3,2019-02-08,Friday,2019-02
5,699-14-3026,C,Naypyitaw,Normal,Male,Electronic accessories,85.39,7,29.8865,627.6165,2019-03-25,18,Ewallet,597.73,4.761905,29.8865,4.1,2019-03-25,Monday,2019-03
7,315-22-5665,C,Naypyitaw,Normal,Female,Home and lifestyle,73.56,10,36.7800,772.3800,2019-02-24,11,Ewallet,735.60,4.761905,36.7800,8.0,2019-02-24,Sunday,2019-02
14,829-34-3910,A,Yangon,Normal,Female,Health and beauty,71.38,10,35.6900,749.4900,2019-03-29,19,Cash,713.80,4.761905,35.6900,5.7,2019-03-29,Friday,2019-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
988,267-62-7380,C,Naypyitaw,Member,Male,Electronic accessories,82.34,10,41.1700,864.5700,2019-03-29,19,Ewallet,823.40,4.761905,41.1700,4.3,2019-03-29,Friday,2019-03
989,430-53-4718,B,Mandalay,Member,Male,Health and beauty,75.37,8,30.1480,633.1080,2019-01-28,15,Credit card,602.96,4.761905,30.1480,8.4,2019-01-28,Monday,2019-01
991,602-16-6955,B,Mandalay,Normal,Female,Sports and travel,76.60,10,38.3000,804.3000,2019-01-24,18,Ewallet,766.00,4.761905,38.3000,6.0,2019-01-24,Thursday,2019-01
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,2019-03-02,17,Ewallet,973.80,4.761905,48.6900,4.4,2019-03-02,Saturday,2019-03
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2019-02-18,13,Cash,618.38,4.761905,30.9190,6.6,2019-02-18,Monday,2019-02

## 2Ô∏è‚É£ Get all transactions made by female customers

In [16]:
female_customers = df[df["Gender"] == "Female"]
female_customers

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating,date,day_of_week,month
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,2019-01-05,13,Ewallet,522.83,4.761905,26.1415,9.1,2019-01-05,Saturday,2019-01
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,2019-03-08,10,Cash,76.40,4.761905,3.8200,9.6,2019-03-08,Friday,2019-03
6,355-53-5943,A,Yangon,Member,Female,Electronic accessories,68.84,6,20.6520,433.6920,2019-02-25,14,Ewallet,413.04,4.761905,20.6520,5.8,2019-02-25,Monday,2019-02
7,315-22-5665,C,Naypyitaw,Normal,Female,Home and lifestyle,73.56,10,36.7800,772.3800,2019-02-24,11,Ewallet,735.60,4.761905,36.7800,8.0,2019-02-24,Sunday,2019-02
8,665-32-9167,A,Yangon,Member,Female,Health and beauty,36.26,2,3.6260,76.1460,2019-01-10,17,Credit card,72.52,4.761905,3.6260,7.2,2019-01-10,Thursday,2019-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
990,886-18-2897,A,Yangon,Normal,Female,Food and beverages,56.56,5,14.1400,296.9400,2019-03-22,19,Credit card,282.80,4.761905,14.1400,4.5,2019-03-22,Friday,2019-03
991,602-16-6955,B,Mandalay,Normal,Female,Sports and travel,76.60,10,38.3000,804.3000,2019-01-24,18,Ewallet,766.00,4.761905,38.3000,6.0,2019-01-24,Thursday,2019-01
994,652-49-6720,C,Naypyitaw,Member,Female,Electronic accessories,60.95,1,3.0475,63.9975,2019-02-18,11,Ewallet,60.95,4.761905,3.0475,5.9,2019-02-18,Monday,2019-02
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,2019-03-02,17,Ewallet,973.80,4.761905,48.6900,4.4,2019-03-02,Saturday,2019-03
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2019-02-18,13,Cash,618.38,4.761905,30.9190,6.6,2019-02-18,Monday,2019-02

## 3Ô∏è‚É£ Get all purchases of "Health and Beauty" products

In [24]:
health_beauty_sales = df[df["Product line"] == "Health and beauty"]
health_beauty_sales

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating,date,day_of_week,month
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,2019-01-05,13,Ewallet,522.83,4.761905,26.1415,9.1,2019-01-05,Saturday,2019-01
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,2019-01-27,20,Ewallet,465.76,4.761905,23.2880,8.4,2019-01-27,Sunday,2019-01
8,665-32-9167,A,Yangon,Member,Female,Health and beauty,36.26,2,3.6260,76.1460,2019-01-10,17,Credit card,72.52,4.761905,3.6260,7.2,2019-01-10,Thursday,2019-01
14,829-34-3910,A,Yangon,Normal,Female,Health and beauty,71.38,10,35.6900,749.4900,2019-03-29,19,Cash,713.80,4.761905,35.6900,5.7,2019-03-29,Friday,2019-03
16,656-95-9349,A,Yangon,Member,Female,Health and beauty,68.93,7,24.1255,506.6355,2019-03-11,11,Credit card,482.51,4.761905,24.1255,4.6,2019-03-11,Monday,2019-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
983,148-41-7930,C,Naypyitaw,Normal,Male,Health and beauty,99.96,7,34.9860,734.7060,2019-01-23,10,Cash,699.72,4.761905,34.9860,6.1,2019-01-23,Wednesday,2019-01
986,764-44-8999,B,Mandalay,Normal,Female,Health and beauty,14.76,2,1.4760,30.9960,2019-02-18,14,Ewallet,29.52,4.761905,1.4760,4.3,2019-02-18,Monday,2019-02
987,552-44-5977,B,Mandalay,Member,Male,Health and beauty,62.00,8,24.8000,520.8000,2019-01-03,19,Credit card,496.00,4.761905,24.8000,6.2,2019-01-03,Thursday,2019-01
989,430-53-4718,B,Mandalay,Member,Male,Health and beauty,75.37,8,30.1480,633.1080,2019-01-28,15,Credit card,602.96,4.761905,30.1480,8.4,2019-01-28,Monday,2019-01
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,2019-01-29,13,Ewallet,40.35,4.761905,2.0175,6.2,2019-01-29,Tuesday,2019-01

üìù Task 2: Grouping & Aggregation
1Ô∏è‚É£ Find the total sales per product line.
2Ô∏è‚É£ Find the average rating per city.
3Ô∏è‚É£ Find the total quantity sold per branch.

## 1Ô∏è‚É£ Find the total sales per product line

In [29]:
total_sales_per_product = df.groupby("Product line")["Total"].sum()

total_sales_per_product

Product line
Electronic accessories    54337.5315
Fashion accessories       54305.8950
Food and beverages        56144.8440
Health and beauty         49193.7390
Home and lifestyle        53861.9130
Sports and travel         55122.8265
Name: Total, dtype: float64

## 2Ô∏è‚É£ Find the average rating per city

In [37]:
avg_rating_per_city = df.groupby("City")["Rating"].mean()

avg_rating_per_city

City
Mandalay     6.818072
Naypyitaw    7.072866
Yangon       7.027059
Name: Rating, dtype: float64

## 3Ô∏è‚É£ Find the total quantity sold per branch

In [38]:
total_quantity_per_branch = df.groupby("Branch")["Quantity"].sum()

total_quantity_per_branch

Branch
A    1859
B    1820
C    1831
Name: Quantity, dtype: int64